body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #af0f0f;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.hero {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

/* Banner Styles */
.banner {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.banner-text h2 {
    font-size: 2.5rem;
    margin: 0;
}

.banner-text p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.btn {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}
.logo img {
    height: 50px;
    width: auto;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
